.addItemSection{
    background-color: white !important;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */

}
.btn-outline-primary {
    border: 1px #025FE0  solid ;
    border-color: #025FE0 ;
    background-color: white;
    color: #025FE0;
}

.btn-outline-primary:hover {
    background-color: #025FE0;
    color: white;
}

.btn-primary{
    background-color: #025FE0;
    color: white;
}

.addBtn{
    font-size: 13px;
    padding: 0.5rem 1rem;
}

.addItemSection .form-label {
    font-size: 12px;
    color: gray;
    font-weight: 500;
}
.addItemSection .form-control {
    font-size: 13px;
}

.addItemSection .form-control:disabled{
    background-color: rgb(235, 234, 234);
}
.addItemSection .nameUser{
    font-size: 12px;
}

.addItemSection .nameUserSub{
    font-size: 11px;
    color:gray
}
.closebtn {
    border:black 1px solid;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    background-color: white;
    margin-right: 10px;
}

.addItemSection .btnSelect{
    background-color: #E6EFFC;
    color: #025FE0;
    font-size: 13px;
    padding: 10px 15px;
}
.salesModal tr {
    border: none !important;
    border-style: none !important;
}
.salesModal tr td span{
    font-size: 11px;
    color:gray
}
.salesModal tr td p{
    font-size: 13px;
    color:rgb(0, 0, 0)
}
.salesModal .table>:not(caption)>*>*{
    border-bottom-width: 0px !important;
}
.modal-content{
    border-radius: 15px !important;
}
.salesModal .modal-body {
    background-color: #f1f1f1 !important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.salesModal .table>:not(caption)>*>*{
    background-color: #f1f1f1 !important;

}


[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
[data-pagination] {
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em 1rem;
  text-align: center;
  transition: font-size .2s ease-in-out;
}
[data-pagination] ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: .5em;
}
[data-pagination] ul li {
  display: inline-block;
  width: auto;
  border-radius: 3px;
  background-color: white;
  padding: 0.5rem 1rem;
  margin: 0px 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); /* Large shadow */
}

[data-pagination] a {
  color: #777;
  /* padding: .5em; */
}

[data-pagination] > a {
    background-color: white;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); /* Large shadow */
    border: solid 1px  #c4c4c4;
}
[data-pagination] a:focus,
[data-pagination] a:hover {
  color: #f60;
}
[data-pagination] li.current {
  background:#025FE0;
  color:white
}
/* Disabled & Hidden Styles */
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
  opacity: .5;
  pointer-events: none;
}


.custom-modal-width {
    max-width: 800px; /* Adjust the width as needed */
    width: 80%; /* This can be used to make the modal responsive */
  }
  
  @media (max-width: 768px) {
    .custom-modal-width {
      max-width: 100%; /* Full width on smaller screens */
      width: 100%;
    }
  }
  
  .closebtnSelected {
    border-radius: 25px;
    height: 25px;
    width: 25px;
    background-color: #025FE0;
    margin-right: 10px;
    border:none !important
}