
.stage4container{
    background-color:#FAFAFA;
    border-radius: 20px;
}
.cardstage4 {
    border-radius: 20px;
}
.stage4container .nameUser{
    color:#01010199;
    font-size: 12px;
}
.stage4container .nameUserSub{
    color: #010101CC;
    font-size: 15px;
}
.cardstage4 .form-control {
    font-size: 13px;
}
.cardstage4 .form-label {
    font-size: 12px;
    color: gray;
    font-weight: 500;
}
.cardstage4 .selectbtn{
    background-color: #E6EFFC;
    color: #025FE0;
    border: none !important;
    padding: 10px 15px ;
    font-weight: 500;
    border-radius: 12px;
    font-size: 13px;
}
.cardstage4 .closebtn {
    border:black 1px solid;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    background-color: white;
    margin-right: 10px;
}
 .btnprm{
    background-color: #025FE0;
    color:white;
    border: none;
    padding: 10px 15px ;
    border-radius: 12px;
    font-size: 13px;
}
.btnscndry{
    background-color: #0101011A;
    color: #01010199;
    border: none;
    padding: 10px 15px ;
    border-radius: 12px;
    font-size: 13px;
    margin-right: 10px;
}
.stage4modal .btn-close {
    margin-top: -52px !important;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.365983%200.381611C0.600393%200.147272%200.918278%200.0156273%201.24973%200.0156273C1.58119%200.0156273%201.89907%200.147272%202.13348%200.381611L6.87473%205.12286L11.616%200.381611C11.7313%200.262223%2011.8692%200.166995%2012.0217%200.101484C12.1742%200.0359723%2012.3383%200.00148947%2012.5042%204.71963e-05C12.6702-0.00139507%2012.8348%200.0302318%2012.9884%200.0930829C13.142%200.155934%2013.2816%200.24875%2013.399%200.366116C13.5163%200.483482%2013.6092%200.623047%2013.672%200.776668C13.7349%200.930288%2013.7665%201.09489%2013.765%201.26086C13.7636%201.42684%2013.7291%201.59086%2013.6636%201.74337C13.5981%201.89587%2013.5029%202.0338%2013.3835%202.14911L8.64223%206.89036L13.3835%2011.6316C13.6112%2011.8674%2013.7372%2012.1831%2013.7343%2012.5109C13.7315%2012.8386%2013.6%2013.1521%2013.3683%2013.3839C13.1365%2013.6156%2012.823%2013.7471%2012.4952%2013.75C12.1675%2013.7528%2011.8517%2013.6268%2011.616%2013.3991L6.87473%208.65786L2.13348%2013.3991C1.89773%2013.6268%201.58198%2013.7528%201.25423%2013.75C0.926485%2013.7471%200.61297%2013.6156%200.38121%2013.3839C0.14945%2013.1521%200.0179882%2012.8386%200.0151402%2012.5109C0.0122922%2012.1831%200.138286%2011.8674%200.365983%2011.6316L5.10723%206.89036L0.365983%202.14911C0.131644%201.9147%200%201.59682%200%201.26536C0%200.933905%200.131644%200.61602%200.365983%200.381611Z%22%20fill%3D%22%23010101%22/%3E%3C/svg%3E');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1 !important;
    height: 0.1rem !important;
    width: 0.1rem !important;
}
